*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
.idea/gradle.xml
.idea/vcs.xml
docs/
uibezierpath/libs/
uibezierpath/src/main/java/
uibezierpath/src/main/res/drawable/
